.animated-bg {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(-45deg, #283b54, #3e5b80, #263c58, #193457, #2a3e65);
  background-size: 400% 400%;
  animation: moverFundo 15s ease infinite, brilho 6s ease-in-out infinite alternate;
  position: relative;
  overflow: hidden;
}

@keyframes moverFundo {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Brilho sutil pulsante */
@keyframes brilho {
  0% { filter: brightness(1); }
  50% { filter: brightness(1.2); }
  100% { filter: brightness(1); }
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
